In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
city_data = os.path.join('raw_data', 'city_data.csv')
ride_data = os.path.join('raw_data', 'ride_data.csv')
city = pd.read_csv(city_data)
ride = pd.read_csv(ride_data)

In [9]:
city_df = pd.DataFrame(city)
ride_df = pd.DataFrame(ride)

In [10]:
ride_df.head()

          city                 date   fare        ride_id
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

 Average Fare ($) Per City

In [13]:
# Total Number of Drivers Per City
# City Type (Urban, Suburban, Rural)

# Average Fare ($) Per City
city_count = len(ride_df["city"].unique())
fare_sum = pd.DataFrame(ride_df.groupby("city")['fare'].sum())
fare_sum = fare_sum.rename(columns={'fare':'Total Revenue'})
avg_city_fare = round(fare_sum / city_count, 2)
avg_city_fare = avg_city_fare.rename(columns={"Total Revenue":"Average Fare", 'city':'City'})
avg_city_fare = pd.DataFrame(avg_city_fare)
avg_city_fare.head()

              Average Fare
city
Alvarezhaven          5.93
Alyssaberg            4.29
Anitamouth            2.69
Antoniomouth          4.16
Aprilchester          3.34

Total Number of Rides Per City

In [15]:
# Total Number of Rides Per City
tot_rides = pd.DataFrame(ride_df.groupby("city")['fare'].count())
tot_rides.head()
tot_rides = tot_rides.rename(columns={'fare':'Total Rides'})
tot_rides = pd.DataFrame(tot_rides)
tot_rides.head()

              Total Rides
city
Alvarezhaven           31
Alyssaberg             26
Anitamouth              9
Antoniomouth           22
Aprilchester           19

Total Number of Drivers

In [30]:
city_df = city_df.rename(columns={'city':'City', 'driver_count':'Driver Count', 'type': 'City Type'})
city_df.head()

             City  Driver Count City Type
0      Kelseyland            63     Urban
1      Nguyenbury             8     Urban
2    East Douglas            12     Urban
3   West Dawnfurt            34     Urban
4  Rodriguezburgh            52     Urban

Merged table with info

In [39]:
combined_df = pd.merge(city_df, avg_city_fare, how='outer', left_on="City", right_index=True)
combined_df = pd.merge(combined_df, tot_rides, how='outer', left_on="City", right_index=True)
combined_df = pd.merge(combined_df, fare_sum, how='outer', left_on="City", right_index=True)
combined_df.head()

,City,Driver Count,City Type,Average Fare,Total Rides,Total Revenue
0,Kelseyland,63,Urban,4.88,28,610.58
1,Nguyenbury,8,Urban,5.39,26,673.39
2,East Douglas,12,Urban,4.61,22,575.72
3,West Dawnfurt,34,Urban,5.18,29,647.58
4,Rodriguezburgh,52,Urban,3.93,23,490.65

In [74]:
city_type_tot_rev = pd.DataFrame(combined_df.groupby("City Type")['Total Revenue'].sum())
city_type_tot_rides = pd.DataFrame(combined_df.groupby("City Type")['Total Rides'].sum())
city_type_tot_drivers = pd.DataFrame(combined_df.groupby("City Type")['Driver Count'].sum())
type_combined = pd.merge(city_type_tot_rev, city_type_tot_rides, left_index=True, right_index=True)
type_combined = pd.merge(type_combined, city_type_tot_drivers, left_index=True, right_index=True)
type_combined.head()

           Total Revenue  Total Rides  Driver Count
City Type
Rural            4255.09          125           104
Suburban        20335.69          657           638
Urban           40078.34         1625          2607

Percentages

In [75]:
total_revenue = round(type_combined["Total Revenue"].sum(), 2)
type_combined['Total Revenue'] = type_combined['Total Revenue'] / total_revenue
total_rides = round(type_combined["Total Rides"].sum(), 2)
total_drivers = round(type_combined["Driver Count"].sum(), 2)
type_combined['Total Rides'] = type_combined['Total Rides'] / total_rides
type_combined['Driver Count'] = type_combined['Driver Count'] / total_drivers
type_combined = type_combined.rename(columns={'Total Revenue':'% of Revenue', 'Total Rides': '% of Rides', 'Driver Count':'% of Drivers'})
type_combined

           % of Revenue  % of Rides  % of Drivers
City Type
Rural          0.065798    0.051932      0.031054
Suburban       0.314458    0.272954      0.190505
Urban          0.619745    0.675114      0.778441