In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [3]:
purchasing_data = os.path.join('purchase_data.json')
purchasing_data2 = os.path.join('purchase_data2.json')

In [4]:
purchase_df = pd.read_json(purchasing_data)
purchase_df2 = pd.read_json(purchasing_data2)
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
#find the total number of players
total_players=len(purchase_df["SN"].unique())
total_players_df = pd.DataFrame({"Number of Players":[total_players]})
total_players_df

   Number of Players
0                573

#Pricing analysis (Total)

In [6]:
#number of unique items
items = len(purchase_df["Item Name"].unique())
items

179

In [7]:
#average purchase price
avg_purchase_price = round(purchase_df["Price"].mean(), 2)
avg_purchase_price

2.93

In [8]:
#total number of purchases
total_purchases = len(purchase_df)
total_purchases

780

In [9]:
#total revnue
total_revenue = (total_purchases*avg_purchase_price)
total_revenue

2285.4

In [10]:
purch_analysis_tot = pd.DataFrame([{"# of Items": items,
                                  "Avgerage Purchase Price": avg_purchase_price,
                                  "Total Purchases": total_purchases,
                                  "Total Revenue": total_revenue}])
purch_analysis_tot.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue':''})
purch_analysis_tot

   # of Items  Avgerage Purchase Price  Total Purchases  Total Revenue
0         179                     2.93              780         2285.4

In [11]:
# Gender Demographics
# first need to drop out duplicates in order to get a real gender count

dropped = purchase_df.drop_duplicates(["SN"])

#index must be reset in order to get percent of players in next step

gender_counts = dropped["Gender"].value_counts().reset_index()

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed


gender_counts["% of Players"] = round((gender_counts['Gender']/total_players)*100, 1)
gender_counts = gender_counts.rename(columns={"index":"Gender", "Gender":"# of Players"}, inplace=True)
gender_counts
gender_counts_df =pd.DataFrame(gender_counts)
gender_counts_df

Empty DataFrame
Columns: []
Index: []

# Purchasing analysis (Gender)

In [26]:
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

purch_count = pd.DataFrame(purchase_df.groupby("Gender")['Gender'].count())
purch_count = (purch_count.rename(columns={"Gender" : "# of Purchases"}))
#both variables are grouped by Gender
total_purch_gender = pd.DataFrame(purchase_df.groupby("Gender")['Price'].sum())
total_purch_gender = total_purch_gender.rename(columns={'Price':'Total Purchase Value'})

gender_total_analysis = pd.merge(purch_count, total_purch_gender, left_index = True, right_index=True)
gender_total_analysis["Average Purchase Price"] = round(gender_total_analysis['Total Purchase Value']/gender_total_analysis['# of Purchases'],2)

#normalized totals = Total Purchase Value/# of players in respective gender. Normalized total shows average spent
#spread across total number of players rather than over quantity of transactions
??????????????????
#gender_total_analysis["Normalized Totals"] = round((gender_total_analysis["Total Purchase Value"]/gender_counts["# of Players"]), 2)

gender_total_analysis

Object `` not found.

,# of Purchases,Total Purchase Value,Average Purchase Price
Gender,,,
Female,136,382.91,2.82
Male,633,1867.68,2.95
Other / Non-Disclosed,11,35.74,3.25

Age Demographics

In [13]:
age_bins = [0,9,15,20,25,32,45,100]
bin_labels = ['<10', '10-15', '16-20', '21-25', '26-32', '33-45', '45>']
purchase_df["Age Demographics"] = pd.cut(purchase_df["Age"], age_bins, labels=bin_labels)
demographic_group = purchase_df.groupby("Age Demographics")
dem_group_df = pd.DataFrame(demographic_group["Age"].count())
dem_group_count = dem_group_df.rename(columns={"Age":'Number of People'})
dem_total_value = round(demographic_group["Price"].sum(), 2)
dem_avg_purch = round(demographic_group["Price"].mean(), 2)


dem_group_count_df = pd.DataFrame(dem_group_count)
dem_total_df = pd.DataFrame(dem_total_value)
dem_avg_purch_df = pd.DataFrame(dem_avg_purch)
dem_avg_purch_df = dem_avg_purch_df.rename(columns={"Price":'Avg. Purchase Price'})
dem_total_df = dem_total_df.rename(columns={"Price":'Total Purchase Value'})
combined_df = pd.merge(dem_group_count_df, dem_total_df, left_index=True, right_index=True)
combined_df = pd.merge(combined_df, dem_avg_purch_df, left_index=True, right_index=True)
combined_df = combined_df.rename(columns={"Number of People":'Purchase Count'})
combined_df = combined_df.fillna("No Data")
combined_df = combined_df.style.format({' Total Purchase Value': '${:.2f}', 'Avg. Purchase price': '${:.2F}'})
combined_df

Top Spenders

In [14]:
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Demographics
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,33-45
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,21-25
2,34,Male,174,Primitive Blade,2.46,Assastnya25,33-45
3,21,Male,92,Final Critic,1.36,Pheusrical25,21-25
4,23,Male,63,Stormfury Mace,1.27,Aela59,21-25

In [58]:
purch_amount_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].sum())
num_purch_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].count())
avg_by_SN = pd.DataFrame(purchase_df.groupby('SN')['Price'].mean())
top_5_spenders = pd.merge(purch_amount_by_SN, num_purch_by_SN, left_index = True, right_index=True).merge(avg_by_SN, left_index=True, right_index=True)
top_5_spenders = top_5_spenders.rename(columns={'Price_x':'Total Purchase Value', 'Price_y':'Quantity of Purchases', 'Price':'Avgerage Purchase Price'})
top_5_spenders.sort_values('Total Purchase Value', ascending=False, inplace=True )
top_5_spenders = top_5_spenders.head()
top_5_spenders = top_5_spenders.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})
top_5_spenders

Most Popular Items

In [16]:
purchase_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Demographics
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,33-45
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,21-25
2,34,Male,174,Primitive Blade,2.46,Assastnya25,33-45
3,21,Male,92,Final Critic,1.36,Pheusrical25,21-25
4,23,Male,63,Stormfury Mace,1.27,Aela59,21-25

In [17]:
most_pop_items = pd.DataFrame(purchase_df.groupby('Item ID')["Item ID"].count())

most_pop_items.sort_values("Item ID", ascending = False, inplace=True)
most_pop_items = most_pop_items.iloc[0:6, :]

item_revenue = pd.DataFrame(purchase_df.groupby('Item ID')["Price"].sum())
item_revenue = item_revenue.rename(columns={'Price':'Revenue'})
top_5_items = pd.merge(most_pop_items, item_revenue, left_index=True, right_index=True)
top_5_items = top_5_items.rename(columns ={'Item ID':'Quantity Sold'})
no_duplicates = purchase_df.drop_duplicates(["Item ID"], keep = 'last')
top_5_merged = pd.merge(top_5_items, no_duplicates, left_index = True, right_on="Item ID")
top_5_merged = top_5_merged[["Item ID", 'Item Name', 'Quantity Sold', 'Revenue', 'Price']]
top_5_merged

,Item ID,Item Name,Quantity Sold,Revenue,Price
721,39,"Betrayal, Whisper of Grieving Widows",11,25.85,2.35
766,84,Arcane Gem,11,24.53,2.23
772,31,Trickster,9,18.63,2.07
761,175,Woeful Adamantite Claymore,9,11.16,1.24
765,13,Serenity,9,13.41,1.49
746,34,Retribution Axe,9,37.26,4.14

Most Profitable Items

In [51]:
most_profit = pd.DataFrame(purchase_df.groupby("Item ID")["Price"].sum())
most_profit.sort_values("Price", ascending = False, inplace=True)
most_profit = most_profit.iloc[0:5, :]
profit_purch_count = pd.DataFrame(purchase_df.groupby('Item ID')['Item ID'].count())
most_profit = pd.merge(most_profit, profit_purch_count, left_index=True, right_index=True, how = 'left')
merge_most_profit = pd.merge(most_profit, no_duplicates, left_index=True, right_on ="Item ID", how='left')

merge_most_profit = merge_most_profit[['Item Name', 'Item ID_x', 'Price_y','Price_x']]
merge_most_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
merge_most_profit

,Item Name,Purchase Count,Item Price,Total Purchase Value
746,Retribution Axe,9,4.14,37.26
705,Spectral Diamond Doomblade,7,4.25,29.75
657,Orenmir,6,4.95,29.70
716,Singed Scalpel,6,4.87,29.22
779,"Splitter, Foe Of Subtlety",8,3.61,28.88

Observable Trends:
1. This game is primarily played by males, who represent over 80% of players
2. A good age group to target is the 21-25 group. They by far have the highest quanity of purchases and 
   spend the most in total.
3. Only 1 of the most profitable items are in the top 6 most popular items