In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os


import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [3]:
# CSV files
metadata = pd.read_csv("DataSets/Belly_Button_Biodiversity_Metadata.csv")
otu_id = pd.read_csv("DataSets/belly_button_biodiversity_otu_id.csv")
samples = pd.read_csv("DataSets/belly_button_biodiversity_samples.csv", dtype =object)

In [4]:
samples.set_index(["otu_id"],drop=True,inplace=True)
samples.head()

,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,BB_950,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
otu_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
samples = pd.DataFrame(samples)
samples = samples.T
samples.head()

otu_id,1,2,3,4,5,6,7,8,9,10,...,3665,3666,3667,3668,3669,3670,3671,3672,3673,3674
BB_940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BB_941,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BB_943,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BB_944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
BB_945,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
samples.index.names=["sample"]

In [7]:
metadata.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [8]:
metadata.columns

Index(['SAMPLEID', 'EVENT', 'ETHNICITY', 'GENDER', 'AGE', 'WFREQ', 'BBTYPE',
       'LOCATION', 'COUNTRY012', 'ZIP012', 'COUNTRY1319', 'ZIP1319', 'DOG',
       'CAT', 'IMPSURFACE013', 'NPP013', 'MMAXTEMP013', 'PFC013',
       'IMPSURFACE1319', 'NPP1319', 'MMAXTEMP1319', 'PFC1319'],
      dtype='object')

In [9]:
metadata = metadata[['SAMPLEID', 'ETHNICITY', 'GENDER', 'AGE', 'WFREQ', 'BBTYPE',
       'LOCATION']]
metadata.SAMPLEID = metadata.SAMPLEID.astype(str)
metadata.dtypes

SAMPLEID      object
ETHNICITY     object
GENDER        object
AGE          float64
WFREQ        float64
BBTYPE        object
LOCATION      object
dtype: object

In [10]:
metadata.head()

  SAMPLEID              ETHNICITY GENDER   AGE  WFREQ BBTYPE         LOCATION
0      940              Caucasian      F  24.0    2.0      I      Beaufort/NC
1      941  Caucasian/Midleastern      F  34.0    1.0      I       Chicago/IL
2      943              Caucasian      F  49.0    1.0      I         Omaha/NE
3      944               European      M  44.0    1.0      I      NewHaven/CT
4      945              Caucasian      F  48.0    1.0      I  Philidelphia/PA

In [11]:
metadata['SAMPLEID'] = "BB_" + metadata["SAMPLEID"]

In [12]:
metadata.to_csv("clean_metadata.csv",index=False)
otu_id.to_csv("clean_otu.csv",index=False)
samples.to_csv("clean_samples.csv",index=False)

In [13]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")
conn = engine.connect()

In [29]:
Base = declarative_base()

class OTU(Base):
    __tablename__ = 'otu'

    otu_id = Column(Integer, primary_key=True)
    lowest_xfound = Column(Text)
    
    def __repr__(self):
        return f"ID: {self.otu_id}, NAME: {self.lowest_taxonomic_unit_found}"
    
Base.metadata.create_all(engine)

In [15]:
data_to_insert = pd.read_csv("clean_otu.csv")
data = data_to_insert.to_dict(orient="records")
metadata = MetaData(bind=engine)
metadata.reflect()

In [16]:
table = sqlalchemy.Table('otu', metadata, autoload=True)

In [17]:
conn.execute(table.insert(), data)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: otu.otu_id [SQL: 'INSERT INTO otu (otu_id, lowest_taxonomic_unit_found) VALUES (?, ?)'] [parameters: ((1, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'), (2, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'), (3, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Natronorubrum'), (4, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'), (5, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'), (6, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'), (7, 'Bacteria'), (8, 'Bacteria')  ... displaying 10 of 3674 total bound parameter sets ...  (3673, 'Unclassified'), (3674, 'Unclassified'))]

In [18]:
conn.execute("select * from otu limit 5").fetchall()

[(1, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'),
 (2, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'),
 (3, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Natronorubrum'),
 (4, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter'),
 (5, 'Archaea;Euryarchaeota;Methanobacteria;Methanobacteriales;Methanobacteriaceae;Methanobrevibacter')]

In [24]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")
conn = engine.connect()

In [25]:
Base = declarative_base()

class Metadata(Base):
    __tablename__ = 'metadata'

    SAMPLEID = Column(Text, primary_key=True)
    ETHNICITY = Column(Text)
    GENDER = Column(Text)
    AGE = Column(Float)
    WFREQ = Column(Float)
    BBTYPE = Column(Text)
    LOCATION = Column(Text)
    
    def __repr__(self):
        return f"ID: {self.SAMPLEID}, {self.ETHNICITY} {self.GENDER}, (self.AGE), {self.LOCATION} type: {self.BBTYPE}, wfreq: {self.WFREQ}"
Base.metadata.create_all(engine)

In [26]:
data_to_insert = pd.read_csv("clean_metadata.csv")
data = data_to_insert.to_dict(orient="records")

In [27]:
data

[{'AGE': 24.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Beaufort/NC',
  'SAMPLEID': 'BB_940',
  'WFREQ': 2.0},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Midleastern',
  'GENDER': 'F',
  'LOCATION': 'Chicago/IL',
  'SAMPLEID': 'BB_941',
  'WFREQ': 1.0},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Omaha/NE',
  'SAMPLEID': 'BB_943',
  'WFREQ': 1.0},
 {'AGE': 44.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'European',
  'GENDER': 'M',
  'LOCATION': 'NewHaven/CT',
  'SAMPLEID': 'BB_944',
  'WFREQ': 1.0},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Philidelphia/PA',
  'SAMPLEID': 'BB_945',
  'WFREQ': 1.0},
 {'AGE': 42.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Deerfield/MA',
  'SAMPLEID': 'BB_946',
  'WFREQ': 3.0},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 'BB_947',
  'WFREQ': 6.0},
 {'AGE': 20.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 'BB_948',
  'WFREQ': nan},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Durham/NC',
  'SAMPLEID': 'BB_949',
  'WFREQ': 3.0},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 'BB_950',
  'WFREQ': 5.0},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Seattle/WA',
  'SAMPLEID': 'BB_952',
  'WFREQ': 7.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Chicago/IL',
  'SAMPLEID': 'BB_953',
  'WFREQ': 2.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 'BB_954',
  'WFREQ': 7.0},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 'BB_955',
  'WFREQ': 7.0},
 {'AGE': 16.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Jacksonville/NC',
  'SAMPLEID': 'BB_956',
  'WFREQ': 7.0},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Wilmington/NC',
  'SAMPLEID': 'BB_958',
  'WFREQ': 5.0},
 {'AGE': 40.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Carrboro/NC',
  'SAMPLEID': 'BB_959',
  'WFREQ': 5.0},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Lexington/NC',
  'SAMPLEID': 'BB_960',
  'WFREQ': 7.0},
 {'AGE': 35.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Edmonton,AB',
  'SAMPLEID': 'BB_961',
  'WFREQ': 4.0},
 {'AGE': 56.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Washington,DC',
  'SAMPLEID': 'BB_962',
  'WFREQ': 1.0},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Ithaca/NY',
  'SAMPLEID': 'BB_963',
  'WFREQ': 3.5},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'UK/London',
  'SAMPLEID': 'BB_964',
  'WFREQ': 7.0},
 {'AGE': 56.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Needham/MA',
  'SAMPLEID': 'BB_966',
  'WFREQ': 0.0},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Jewish',
  'GENDER': 'F',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 'BB_967',
  'WFREQ': 1.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'St.Louis/MI',
  'SAMPLEID': 'BB_968',
  'WFREQ': 6.0},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Asian',
  'GENDER': 'F',
  'LOCATION': 'ChevyChase/MD',
  'SAMPLEID': 'BB_969',
  'WFREQ': 7.0},
 {'AGE': 42.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'SanDiego/CA',
  'SAMPLEID': 'BB_970',
  'WFREQ': 0.0},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Asian(South)',
  'GENDER': 'M',
  'LOCATION': 'SantaBarbara/CA',
  'SAMPLEID': 'BB_971',
  'WFREQ': 1.0},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Charlotte/NC',
  'SAMPLEID': 'BB_972',
  'WFREQ': 7.0},
 {'AGE': 4.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Charlotte/NC',
  'SAMPLEID': 'BB_973',
  'WFREQ': 1.0},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh/NC',
  'SAMPLEID': 'BB_974',
  'WFREQ': nan},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NewCanaan/CT',
  'SAMPLEID': 'BB_975',
  'WFREQ': 3.0},
 {'AGE': 21.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Hispanic',
  'GENDER': 'F',
  'LOCATION': 'Durham/NC',
  'SAMPLEID': 'BB_978',
  'WFREQ': nan},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1233',
  'WFREQ': 0.0},
 {'AGE': nan,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1234',
  'WFREQ': nan},
 {'AGE': 43.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1235',
  'WFREQ': 0.0},
 {'AGE': 54.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1236',
  'WFREQ': 6.0},
 {'AGE': 9.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'ChapelHill,NC',
  'SAMPLEID': 'BB_1237',
  'WFREQ': 2.0},
 {'AGE': 41.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1238',
  'WFREQ': 0.0},
 {'AGE': 44.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1242',
  'WFREQ': 1.0},
 {'AGE': 49.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1243',
  'WFREQ': nan},
 {'AGE': 2.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Atlanta,GA',
  'SAMPLEID': 'BB_1246',
  'WFREQ': 7.0},
 {'AGE': 24.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Voss,NC',
  'SAMPLEID': 'BB_1253',
  'WFREQ': 5.0},
 {'AGE': 1.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Voss,NC',
  'SAMPLEID': 'BB_1254',
  'WFREQ': 5.0},
 {'AGE': 31.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'f',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 'BB_1258',
  'WFREQ': 7.0},
 {'AGE': 33.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 'BB_1259',
  'WFREQ': 7.0},
 {'AGE': 10.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 'BB_1260',
  'WFREQ': 7.0},
 {'AGE': 46.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1264',
  'WFREQ': 0.0},
 {'AGE': 10.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'f',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1265',
  'WFREQ': 0.0},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1273',
  'WFREQ': 3.0},
 {'AGE': 18.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1275',
  'WFREQ': 0.0},
 {'AGE': 34.0,
  'BBTYPE': 'O',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1276',
  'WFREQ': 0.0},
 {'AGE': 67.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1277',
  'WFREQ': 7.0},
 {'AGE': 44.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1278',
  'WFREQ': 7.0},
 {'AGE': 60.0,
  'BBTYPE': 'O',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1279',
  'WFREQ': 9.0},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'PacificIslander',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1280',
  'WFREQ': nan},
 {'AGE': 55.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1281',
  'WFREQ': 3.0},
 {'AGE': 53.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1282',
  'WFREQ': nan},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1283',
  'WFREQ': 7.0},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1284',
  'WFREQ': 7.0},
 {'AGE': 42.0,
  'BBTYPE': 'Both',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1285',
  'WFREQ': nan},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1286',
  'WFREQ': 7.0},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1287',
  'WFREQ': nan},
 {'AGE': 52.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1288',
  'WFREQ': 7.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1289',
  'WFREQ': nan},
 {'AGE': 53.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1290',
  'WFREQ': 5.0},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1291',
  'WFREQ': 0.0},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1292',
  'WFREQ': nan},
 {'AGE': 68.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1293',
  'WFREQ': 1.0},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1294',
  'WFREQ': nan},
 {'AGE': 48.0,
  'BBTYPE': 'Both',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 'BB_1295',
  'WFREQ': 7.0},
 {'AGE': 10.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 'BB_1296',
  'WFREQ': 4.0},
 {'AGE': 10.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasion',
  'GENDER': 'f',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 'BB_1297',
  'WFREQ': 5.0},
 {'AGE': 12.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'White',
  'GENDER': 'm',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 'BB_1298',
  'WFREQ': 3.0},
 {'AGE': 40.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 'BB_1308',
  'WFREQ': 7.0},
 {'AGE': 6.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 'BB_1309',
  'WFREQ': 5.0},
 {'AGE': 3.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'm',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 'BB_1310',
  'WFREQ': 5.0},
 {'AGE': 55.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Cary,NC',
  'SAMPLEID': 'BB_1374',
  'WFREQ': 7.0},
 {'AGE': nan,
  'BBTYPE': 'Unknown',
  'ETHNICITY': nan,
  'GENDER': nan,
  'LOCATION': nan,
  'SAMPLEID': 'BB_1415',
  'WFREQ': nan},
 {'AGE': nan,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Sarasota,FL',
  'SAMPLEID': 'BB_1439',
  'WFREQ': nan},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1441',
  'WFREQ': 4.0},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1443',
  'WFREQ': 3.0},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Shrewsbury,UK',
  'SAMPLEID': 'BB_1486',
  'WFREQ': 0.0},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Shrewsbury,UK',
  'SAMPLEID': 'BB_1487',
  'WFREQ': 0.0},
 {'AGE': 28.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'WashingtonDC',
  'SAMPLEID': 'BB_1489',
  'WFREQ': 0.0},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'DurhamNC',
  'SAMPLEID': 'BB_1490',
  'WFREQ': 0.0},
 {'AGE': 24.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'WashingtonDC',
  'SAMPLEID': 'BB_1491',
  'WFREQ': 3.0},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Boone,NC',
  'SAMPLEID': 'BB_1494',
  'WFREQ': 0.0},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1495',
  'WFREQ': 3.0},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1497',
  'WFREQ': 0.0},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Waynesville,NC',
  'SAMPLEID': 'BB_1499',
  'WFREQ': 0.0},
 {'AGE': 32.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1500',
  'WFREQ': 0.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': 'FallsChurch,VA',
  'SAMPLEID': 'BB_1501',
  'WFREQ': 0.0},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Boone,NC',
  'SAMPLEID': 'BB_1502',
  'WFREQ': 0.0},
 {'AGE': 32.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1503',
  'WFREQ': 7.0},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1504',
  'WFREQ': 0.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 'BB_1505',
  'WFREQ': 0.0},
 {'AGE': 21.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 'BB_1506',
  'WFREQ': 0.0},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1507',
  'WFREQ': 0.0},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1508',
  'WFREQ': 0.0},
 {'AGE': 21.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1510',
  'WFREQ': 1.0},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1511',
  'WFREQ': 0.0},
 {'AGE': 55.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1512',
  'WFREQ': 7.0},
 {'AGE': 15.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1513',
  'WFREQ': 0.0},
 {'AGE': 3.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1514',
  'WFREQ': 7.0},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1515',
  'WFREQ': 1.0},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1516',
  'WFREQ': 0.0},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1517',
  'WFREQ': 0.0},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'GA',
  'SAMPLEID': 'BB_1518',
  'WFREQ': 0.0},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1519',
  'WFREQ': 0.0},
 {'AGE': 10.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1521',
  'WFREQ': 0.0},
 {'AGE': 14.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1524',
  'WFREQ': 4.0},
 {'AGE': 6.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1526',
  'WFREQ': 7.0},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1527',
  'WFREQ': 7.0},
 {'AGE': 54.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1530',
  'WFREQ': 1.0},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1531',
  'WFREQ': 2.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1532',
  'WFREQ': 0.0},
 {'AGE': 37.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Black',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1533',
  'WFREQ': 0.0},
 {'AGE': 42.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1534',
  'WFREQ': 0.0},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1535',
  'WFREQ': 7.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1536',
  'WFREQ': 7.0},
 {'AGE': 28.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1537',
  'WFREQ': 0.0},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1539',
  'WFREQ': 7.0},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1540',
  'WFREQ': 0.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1541',
  'WFREQ': 0.0},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1542',
  'WFREQ': nan},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1543',
  'WFREQ': 3.0},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1544',
  'WFREQ': 1.0},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1545',
  'WFREQ': 7.0},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1546',
  'WFREQ': 3.0},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1547',
  'WFREQ': 0.0},
 {'AGE': 6.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1548',
  'WFREQ': 0.0},
 {'AGE': 37.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1549',
  'WFREQ': 3.0},
 {'AGE': 29.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1550',
  'WFREQ': 7.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1551',
  'WFREQ': 0.0},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1552',
  'WFREQ': 3.0},
 {'AGE': 50.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1553',
  'WFREQ': 0.0},
 {'AGE': 18.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1554',
  'WFREQ': 0.0},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1555',
  'WFREQ': 0.0},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Hispanic',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 'BB_1556',
  'WFREQ': 0.0},

In [28]:
metadata = MetaData(bind=engine)
metadata.reflect()
table = sqlalchemy.Table('metadata', metadata, autoload=True)
conn.execute(table.insert(), data)

In [ ]:
conn.execute("select * from metadata limit 5").fetchall()